.container {
    display: grid;
    grid-template-rows: minmax(120px, auto);
    grid-gap: 10px;
    font-family: Verdana, sans-serif;
    grid-template-areas: 'header' 'section' 'footer';
}

body {
    width: 100%;
    height: 100%;
    background-image: url("../images/background.png");
    background-size: cover;
}

header {
    display: grid;
    color: white;
    grid-column-gap: 10px;
    grid-area: header;
    grid-template-areas: 'logo' 'tr';
    justify-self: center;
    align-self: center;
}

.logo {
    text-transform: uppercase;
    height: 48px;
    width: 162px;
    margin-left: 40px;
    align-self: end;
    justify-self: left;
    grid-column-start: 2;
    grid-area: logo;

}

a.logoimg {
    background: url("../images/logo1.png");
    width: 46px;
    height: 44px;
    float: left;
    color: #ffffff;
    text-decoration: none;
}

a.logoimg:hover {
    background: url("../images/logo2.png");
    color: #f26522;
}

.logo .bigtext {
    font-family: Verdana, sans-serif;
    line-height: 25px;
    font-size: 29px;
    font-weight: 700;
    padding-left: 55px;
}

.logo .smalltext {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    padding-left: 55px;
}

.textright {
    font-size: 18px;
    font-weight: 400;
    line-height: 2px;
    text-align: right;
    color: #ffffff;
    grid-column-start: 4;
    grid-area: tr;
    margin-right: 10%;
}

.textright p {
    margin-bottom: 10px;
}

section div:nth-child(1) {
    grid-area: pic1;
}

section div:nth-child(2) {
    grid-area: pic2;
}

section div:nth-child(3) {
    grid-area: pic3;
}

section div:nth-child(4) {
    grid-area: pic4;
}

section div:nth-child(5) {
    grid-area: pic5;
}

section div:nth-child(6) {
    grid-area: pic6;
}

section {
    align-self: center;
    justify-self: center;
    display: grid;
    grid-area: section;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 'pic1' 'pic2' 'pic3' 'pic4' 'pic5' 'pic6';
}

@media screen and (min-width: 700px) {
    header {
        width: 98vw;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 'logo . tr';

    }

    .logo {
        margin-left: 12vw;
    }

    .textright {
        margin-right: 12vw;
    }

    section {
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 'pic1 pic2' 'pic3 pic4' 'pic5 pic6';
    }
}

@media screen and (min-width: 1060px) {
    header {
        width: 98vw;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 'logo . tr';
    }

    section {
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 'pic1 pic2 pic3' 'pic4 pic5 pic6';
    }

    .logo {
        margin-left: 12vw;
    }

    .textright {
        margin-right: 12vw;
    }
}

section div {
    margin: 48px 20px 0 20px;
    height: 240px;
    width: 307px;
    position: relative;
}

section div a {
    text-decoration: none;
    color: #ffffff;
}

section div a:hover {
    color: #f26522;
}

section div a img {
    border: 2px solid;
    border-image: linear-gradient(0grad, #000000, #ffffff) 1 100%;
    border-image-slice: 1;
}

.piccomment {
    font-family: Verdana, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    display: block;
    margin-top: 15px;
}

.pop_up_block {
    width: 311px;
    height: 63px;
    background-color: #f26522;
    color: white;
    position: absolute;
    top: 140px;
    display: block;
    margin: 0;
    padding: 0;
    z-index: -1;
}

section div:hover .pop_up_block {
    z-index: 10;
}

.pic_textleft {
    height: 30px;
    width: 46px;
    text-align: left;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.pic_textleft p:nth-child(1) {
    font-size: 10px;
    font-weight: 400;
    margin: 0;
}

.pic_textleft p:nth-child(2) {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}

.pic_textrigth {
    width: 120px;
    height: 30px;
    text-align: right;
    position: absolute;
    bottom: 10px;
    right: 0;
    display: flex;
    justify-items: right;
}

.pic_textrigth p:nth-child(1) {
    font-size: 14px;
    font-weight: 400;
    margin-top: 11px;
    margin-left: 10px;
    padding: 0;
}

.pic_textrigth p:nth-child(2) {
    font-size: 12px;
    margin-top: 11px;
    margin-left: 10px;
}

.footer {
    display: grid;
    grid-area: footer;
}

footer p {
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 0;
    margin-top: 60px;
    padding-bottom: 20px;
}